@using COINEXEN.Entity
@model Message
@{
    ViewBag.Title = "MessageDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<title>Mesaj Detayı</title>
<div class="text-center  pt-5" style="color:black">
    <h2>Mesajlar</h2>
</div>
<div class="px-5">
    <strong> @Model.Ad @Model.SoyAd </strong>Kişisinden <strong>@Model.GonderimTarihi</strong> Tarihinde Gelen <strong>@Model.KonuBaslik</strong> Konulu Mesaj
</div>
<hr />
<div class="py-3">


    <dl class="dl-horizontal  px-5">

        <dt>
            Kullanıcı Adı
        </dt>

        @if (Model.KullaniciAdi == null)
        {
            <dd style="color:grey">
                Kullanıcı Kayıtlı Değil

            </dd>
        }
        else
        {
            <dd style="color:grey">
                @Html.DisplayFor(model => model.KullaniciAdi)


            </dd>
        }

        <dt>
            Ad Soyad
        </dt>

        <dd style="color:grey">
            @Html.DisplayFor(model => model.Ad)
            @Html.DisplayFor(model => model.SoyAd)

        </dd>

        <dt>
            Telefon Numarası
        </dt>

        <dd style="color:grey">
            @Html.DisplayFor(model => model.PhoneNumber)


        </dd>


        <dt>
            E-Posta
        </dt>

        <dd style="color:grey">
            @Html.DisplayFor(model => model.Eposta)


        </dd>

        <dt>
            Şehir
        </dt>

        <dd style="color:grey">
            @Html.DisplayFor(model => model.City)


        </dd>

        <dt>
            Mesaj
        </dt>

        <dd style="color:grey">
            @Html.DisplayFor(model => model.Detay)


        </dd>

    </dl>
    <p class="text-center mb-5 mt-2 ">

        @Html.ActionLink("Mesajlara Dön", "Messages", "AdminPanel", null, new { @class = "btn btn-warning" })
    </p>
</div>



