@model RegisterViewModel
    @{ 
    ViewBag.Title = "Register";
}
<title>Kayıt Ol</title>
<form asp-action="Register" asp-controller="Account" method="post">
    <div class="form-horizontal py-5 container">
        <div class="text-center text-white">
            <div class="text-end">
                <a asp-action="Login" asp-controller="Account" class="btn btn-warning">Giriş Yap</a>
            </div>
            <h4 style="display:inline-block">Kayıt Ol</h4>
        </div>
        <hr />
        <div class="row">
            <div class="form-group col-md-6 ">
                <label asp-for="@Model.Name" class="control-label  my-2 text-white px-5"></label>
                <div class="px-5">
                    <input type="text" asp-for="@Model.Name" class="form-control" />
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-6  ">
                <label asp-for="@Model.Surname" class="control-label  my-2 text-white px-5"></label>
                <div class="px-5">
                    <input type="text" asp-for="@Model.Surname" class="form-control" />
                    <span asp-validation-for="@Model.Surname" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.UserName" class="control-label  my-2 text-white px-5"></label>
                <div class="px-5">
                    <input type="text" asp-for="@Model.UserName" class="form-control" />
                    <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-6 ">
                <label asp-for="@Model.Email" class="control-label  my-2 text-white px-5"></label>
                <div class="px-5">
                    <input type="text" asp-for="@Model.Email" class="form-control" />
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-6 ">
                <label asp-for="@Model.PhoneNumber" class="control-label  my-2 text-white px-5"></label>
                <div class="px-5">
                    <input type="text" asp-for="@Model.PhoneNumber" class="form-control" />
                    <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-6 ">
                <label asp-for="@Model.City" class="control-label  my-2 text-white px-5"></label>
                <div class="px-5">
                    <select asp-for="@Model.City" asp-items="@new SelectList(Enum.GetValues(typeof(City)))" class="form-control">
                        <option>Şehir</option>
                    </select>
                    <span asp-validation-for="@Model.City" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-6 ">
                <label asp-for="@Model.Birthday" class="control-label  my-2 text-white px-5"></label>
                <div class="px-5">
                    <input type="text" asp-for="@Model.Birthday" class="form-control" />
                    <span asp-validation-for="@Model.Birthday" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-6 ">
                <label asp-for="@Model.Gender" class="control-label  my-2 text-white px-5"></label>
                <div class="px-5">
                    <select asp-for="@Model.Gender" asp-items="@new SelectList(Enum.GetValues(typeof(Gender)))" class="form-control">
                        <option>Cinsiyet</option>
                    </select>
                    <span asp-validation-for="@Model.Gender" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.Password" class="control-label  my-2 text-white px-5"></label>
                <div class="px-5">
                    <input type="password" asp-for="@Model.Password" class="form-control " />
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.RePassword" class="control-label  my-2 text-white px-5"></label>
                <div class="px-5">
                    <input type="text" asp-for="@Model.RePassword" class="form-control " />
                    <span asp-validation-for="@Model.RePassword" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group col-md-12 my-5">
                <div class="col-md-offset-12 col-md-12 text-center">
                    <input type="submit" value="Kayıt Ol" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
</form>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


