@model List<GetCategoryVM>
@{
    var selectedCategory = Url.ActionContext.RouteData.Values["Id"];
}
<div class="list-group list-group-horizontal text-center satisKategori">

    <a asp-action="CoinList" asp-controller="Coins" class="list-group-item list-group-item-action " type="button" type="button"><strong>Tüm Coinler</strong></a>
    @foreach (var kategoriler in Model)
    {
        if (selectedCategory != null)
        {
            if (kategoriler.Id == Guid.Parse(selectedCategory.ToString()))
            {
                <a asp-action="CoinList" asp-controller="Coins" asp-route-id="@kategoriler.Id" class="list-group-item list-group-item-action active-link" type="button" type="button">@kategoriler.Name</a>
            }
            else
            {
                <a asp-action="CoinList" asp-controller="Coins" asp-route-id="@kategoriler.Id" class="list-group-item list-group-item-action" type="button" type="button">@kategoriler.Name</a>
            }
        }
        else
        {
            <a asp-action="CoinList" asp-controller="Coins" asp-route-id="@kategoriler.Id" class="list-group-item list-group-item-action" type="button" type="button">@kategoriler.Name</a>
        }
    }
</div>
