@model Coin

<style>

    .coinBilgi a {
        border-radius: 20px;
        border: 1px solid #0F2C67;
        background-color: #f4e185;
        color: #0F2C67;
        font-weight: bold;
    }

        .coinBilgi a:hover {
            border: 1px solid #f4e185;
            background-color: #0F2C67;
            color: #f4e185;
        }
</style>

<title>@Model.Name Detay</title>

<div class="container px-3 ">
    <div class="onSatis-detayHeader">
        <div class="row">
            <div class="col-md-6 p-5">
                <div class="mt-4">
                    <h3>@Model.Name</h3>
                </div>
                <div>
                    <span>@Model.Name sadece ve sadece COINEXEN'de!</span>
                </div>
            </div>
            <div class="col-md-6 text-end mt-3">
                <img src="~/coinexen_Proje/img/COINEXEN-removebg-preview.png" alt="">
            </div>
        </div>
    </div>
    <div class="text-center my-2 onSatis-durum p-2">
        <span><strong>@Model.Name</strong></span>
    </div>
</div>

<div class="container px-3 coinBilgi">
    <div class="row">
        <div class="col-md-4 mt-3 ">
            <div>
                <table class="table table-borderless text-white">
                    <thead>
                        <tr>
                            <th colspan="2" class="text-center">@Model.Name</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <th> Ön Satış Arzı:</th>
                            <td>@Model.Stock @Model.Name</td>
                        </tr>
                        <tr>

                            <th>IEO Başlangıç Tarihi:</th>
                            <td>05/10/2023 12:00</td>
                        </tr>
                        <tr>

                            <th>IEO Bitiş Tarihi:</th>
                            <td>05/10/2023 12:00</td>
                        </tr>
                        <tr>

                            <td colspan="2" class="text-center">
                                <a href="/Cart/CartDetails/@Model.Id" type="button" class="btn px-4">Al/Sat</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-8 mt-3 py-3">
            <p>
                @Model.Description
            </p>
            <p>
                @Model.Description
            </p>
        </div>
        <div class="col-md-12">
            <p>
                @Model.Description
            </p> <p>
                @Model.Description
            </p> <p>
                @Model.Description
            </p>

        </div>
        </div>
</div>



<div class="container px-3 my-5 sik-sorulanlar">
    <h4>Sık Sorulan Sorular</h4>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Lorem ipsum dolor sit?
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nostrum molestiae, soluta veniam provident exercitationem error ipsa labore eligendi tempore!</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-heading0">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse0" aria-expanded="false" aria-controls="flush-collapse0">
                    Lorem ipsum dolor sit?
                </button>
            </h2>
            <div id="flush-collapse0" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nostrum molestiae, soluta veniam provident exercitationem error ipsa labore eligendi tempore!</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-heading1">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse1" aria-expanded="false" aria-controls="flush-collapse1">
                    Lorem ipsum dolor sit?
                </button>
            </h2>
            <div id="flush-collapse1" class="accordion-collapse collapse" aria-labelledby="flush-heading1" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nostrum molestiae, soluta veniam provident exercitationem error ipsa labore eligendi tempore!</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-heading2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse2" aria-expanded="false" aria-controls="flush-collapse2">
                    Lorem ipsum dolor sit?
                </button>
            </h2>
            <div id="flush-collapse2" class="accordion-collapse collapse" aria-labelledby="flush-heading2" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nostrum molestiae, soluta veniam provident exercitationem error ipsa labore eligendi tempore!</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-heading3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse3" aria-expanded="false" aria-controls="flush-collapse3">
                    Lorem ipsum dolor sit?
                </button>
            </h2>
            <div id="flush-collapse3" class="accordion-collapse collapse" aria-labelledby="flush-heading3" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nostrum molestiae, soluta veniam provident exercitationem error ipsa labore eligendi tempore!</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-heading4">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapse4">
                    Lorem ipsum dolor sit?
                </button>
            </h2>
            <div id="flush-collapse4" class="accordion-collapse collapse" aria-labelledby="flush-heading4" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nostrum molestiae, soluta veniam provident exercitationem error ipsa labore eligendi tempore!</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-heading5">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse5" aria-expanded="false" aria-controls="flush-collapse5">
                    Lorem ipsum dolor sit?
                </button>
            </h2>
            <div id="flush-collapse5" class="accordion-collapse collapse" aria-labelledby="flush-heading5" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nostrum molestiae, soluta veniam provident exercitationem error ipsa labore eligendi tempore!</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-heading6">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse6" aria-expanded="false" aria-controls="flush-collapse6">
                    Lorem ipsum dolor sit?
                </button>
            </h2>
            <div id="flush-collapse6" class="accordion-collapse collapse" aria-labelledby="flush-heading6" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nostrum molestiae, soluta veniam provident exercitationem error ipsa labore eligendi tempore!</div>
            </div>
        </div>
    </div>
</div>


<div class="container px-3 diger-projeler my-5">
    <h4>Diğer Projelere Göz At</h4>
    <div class="row">
        <div class="col-md-4 mt-3 p-3">
            <div>
                <table class="table table-borderless text-white">
                    <thead>
                        <tr>
                            <th colspan="2" class="text-center">ACoin</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <th> Ön Satış Arzı:</th>
                            <td>150,000,000 Acoin</td>
                        </tr>
                        <tr>

                            <th>IEO Başlangıç Tarihi:</th>
                            <td>05/10/2023 12:00</td>
                        </tr>
                        <tr>

                            <th>IEO Bitiş Tarihi:</th>
                            <td>05/10/2023 12:00</td>
                        </tr>
                        <tr>

                            <td colspan="2" class="text-center">
                                <button onclick="window.location.href='/onSatis-detay.html'" type="button" class="btn">Detaya Git</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4 mt-3 p-3">
            <div>
                <table class="table table-borderless text-white">
                    <thead>
                        <tr>
                            <th colspan="2" class="text-center">ACoin</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <th> Ön Satış Arzı:</th>
                            <td>150,000,000 Acoin</td>
                        </tr>
                        <tr>

                            <th>IEO Başlangıç Tarihi:</th>
                            <td>05/10/2023 12:00</td>
                        </tr>
                        <tr>

                            <th>IEO Bitiş Tarihi:</th>
                            <td>05/10/2023 12:00</td>
                        </tr>
                        <tr>

                            <td colspan="2" class="text-center">
                                <button onclick="window.location.href='/onSatis-detay.html'" type="button" class="btn">Detaya Git</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4 mt-3 p-3">
            <div>
                <table class="table table-borderless text-white">
                    <thead>
                        <tr>
                            <th colspan="2" class="text-center">ACoin</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <th> Ön Satış Arzı:</th>
                            <td>150,000,000 Acoin</td>
                        </tr>
                        <tr>

                            <th>IEO Başlangıç Tarihi:</th>
                            <td>05/10/2023 12:00</td>
                        </tr>
                        <tr>

                            <th>IEO Bitiş Tarihi:</th>
                            <td>05/10/2023 12:00</td>
                        </tr>
                        <tr>

                            <td colspan="2" class="text-center">
                                <button onclick="window.location.href='/onSatis-detay.html'" type="button" class="btn">Detaya Git</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>



