@model Message
@{
    ViewBag.Title = "MessageDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<title>Mesaj Detayı</title>
<div class="text-center  pt-5" style="color:black">
    <h2>Mesajlar</h2>
</div>
<div class="px-5">
    <strong> @Model.Name @Model.Surname </strong>Kişisinden <strong>@Model.SendingDate</strong> Tarihinde Gelen <strong>@Model.TopicTitle</strong> Konulu Mesaj
</div>
<hr />
<div class="py-3">
    <dl class="dl-horizontal  px-5">
        <dt>
            Kullanıcı Adı
        </dt>
        @if (Model.UserName == null)
        {
            <dd style="color:grey">
                Kullanıcı Kayıtlı Değil
            </dd>
        }
        else
        {
            <dd style="color:grey">
                <span asp-for="@Model.UserName"></span>
            </dd>
        }
        <dt>
            Ad Soyad
        </dt>
        <dd style="color:grey">
            <span asp-for="@Model.Name"></span>
            <span asp-for="@Model.Surname"></span>
        </dd>
        <dt>
            Telefon Numarası
        </dt>
        <dd style="color:grey">
            <span asp-for="@Model.PhoneNumber"></span>
        </dd>
        <dt>
            E-Posta
        </dt>
        <dd style="color:grey">
            <span asp-for="@Model.EMail"></span>
        </dd>
        <dt>
            Şehir
        </dt>
        <dd style="color:grey">
            <span asp-for="@Model.City"></span>
        </dd>
        <dt>
            Mesaj
        </dt>
        <dd style="color:grey">
            <span asp-for="@Model.Details"></span>
        </dd>

    </dl>
    <p class="text-center mb-5 mt-2 ">
        <a asp-action="Messages" asp-controller="AdminPanel" class="btn btn-warning">Mesajlara Dön</a>
    </p>
</div>



