@model List<AppUser>
@{
    ViewBag.Title = "Index";
}
<title>Üyeler</title>
<div>
    <div class="text-center py-3" style="color:black">
        <h2>Üye Listesi</h2>
    </div>
    <table class="table  table-striped mb-5">
        <thead class="table-light">
            <tr>
                <th>
                    Kullanıcı Adı
                </th>
                <th>
                    Ad
                </th>
                <th>
                    Soyad
                </th>
                <th class="responsive-none">
                    E-posta
                </th>
                <th class="responsive-none">
                    Telefon Numarası
                </th>
                <th class="responsive-none">
                    Doğum Tarihi
                </th>
               @*<th class="responsive-none">
                   <span asp-for="@item.Surname"></span>
                    @Html.DisplayNameFor(model => model.Wallet.Balance)
                </th>*@
                <th class="responsive-none">
                    Hesap Değeri
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (AppUser item in Model)
            {
                <tr>
                    <td class="col-md">
                        @item.UserName
                    </td>
                    <td>
                        @item.Name
                    <td>
                       @item.Surname
                    </td>
                    <td class="responsive-none">
                        @item.Email
                    </td>
                    <td class=" responsive-none">
                        @item.PhoneNumber
                    </td>
                    <td class="responsive-none">
                        @item.Birthday
                    </td>
                   @* <td class="text-center responsive-none">
                        @item.Wallet.Balance
                    </td>*@
                    <td class="text-center responsive-none">
                        @*todo*@
                        @item.Wallet.Balance
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>