@model Coin

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<title> @Model.Name Detay</title>
<div class="text-center  pt-5" style="color:black">
    <h2>Details</h2>
</div>
<div class="px-5">
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id }, new { @class = "btn btn-info" })
</div>
<hr />
<div>


    <dl class="dl-horizontal  px-5">
        <dt>
           @Model.PhotoPath
        </dt>

        <dd style="color:grey">
           @Model.PhotoPath
        </dd>
        <dt>
            @Model.Category.Name
        </dt>
        <dd style="color:grey">
            @Model.Category.Name
        </dd>

        <dt>
            @Model.Name
        </dt>

        <dd style="color:grey">
           @Model.Name
        </dd>

        <dt>
            @Model.ShortName
        </dt>

        <dd style="color:grey">
            @Model.ShortName
        </dd>

        <dt>
            @Model.Description
        </dt>

        <dd style="color:grey">
            @Model.Description
        </dd>

        <dt>
            @Model.Stock
        </dt>

        <dd style="color:grey">
            @Model.Stock
        </dd>

        <dt>
            @Model.Price
        </dt>

        <dd style="color:grey">
            @Model.Price
        </dd>

    </dl>
</div>
<p class="text-center mb-5 mt-2 ">
    <a asp-action="Index" asp-controller="CoinAdmin" class="btn btn-warning">Coin Listesine Dön</a>
</p>
