@model Category

@{
    ViewBag.Title = "Edit";
}
<title> Kategori Düzenle</title>
<form asp-action="Edit" asp-controller="Categories" asp-area="adminPanel" method="post">
    <div class="form-horizontal pt-5">
        <div class="text-center " style="color:black">
            <h4>Kategori Düzenleme</h4>
        </div>
        <hr />
        <input type="hidden" asp-for="@Model.Id" />
        <div class="form-group ">
            <label asp-for="@Model.Name" class="control-label col-md-12   px-5"></label>
            <div class="col-md-12  px-5">
                <input type="text" asp-for="@Model.Name" class="form-control my-2 " />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Description" class="control-label col-md-12   px-5"></label>
            <div class="col-md-12 px-5">
                <textarea asp-for="@Model.Description" class="form-control"></textarea>
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-12 mt-3 text-center">
                <button class="btn btn-success">Kaydet</button>
            </div>
        </div>
    </div>
</form>
<div class="px-5 mt-2">
    <a asp-action="Index" asp-controller="Categories" asp-area="adminPanel" class="">Kategori Listesine Dön</a>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
