@model IEnumerable<Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<title> Kategoriler</title>

<div class="text-center py-4" style="color:black">
    <h2>Kategoriler</h2>
</div>
<hr />

<table class="table table-striped py-2">
    <thead class="table-light">
        @{
            Category c=Model.FirstOrDefault();
<tr>
            <th class="responsive-none">
                <label asp-for="@c.Id"></label>
            </th>
            <th>
                <label asp-for="@c.Name"></label>
            </th>
            <th class="responsive-none">
                <label asp-for="@c.Description"></label>
            </th>
            <th></th>
        </tr>
        }
        
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="responsive-none">
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td class="responsive-none">
                    @item.Description
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="CategoryAdmin" asp-route-id="@item.Id" class="btn btn-warning btn-sm ">Düzenle</a>
                    <a asp-action="Delete" asp-controller="CategoryAdmin" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Sil</a>
                </td>
            </tr>
        }
    </tbody>
   

</table>
<div class="text-center py-2">
    <p>
        <a asp-action="Create" asp-controller="CategoryAdmin" class="btn btn-primary">Yeni Kategori Oluştur</a>
    </p>
</div>





